 .bar {
      fill: lightblue;
    }
    .bar:hover {
      fill: red;
    }
.chart {
  border: solid 1px black;
  margin: 20px;
  box-shadow: 1px 1px 1px 1px;
}

.chartTitle{
  font-size: 24pt;
}

.axis text {
  font-family: cursive;
  font-size: 10pt;
}

.label {
  font-size: 20pt;
}